127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6

192.168.0.15 hadoop-master01.localdomain hadoop-master01
192.168.0.16 hadoop-slave01.localdomain hadoop-slave01
192.168.0.17 hadoop-slave02.localdomain hadoop-slave02
192.168.0.18 hadoop-slave03.localdomain hadoop-slave03
192.168.0.19 hadoop-slave04.localdomain hadoop-slave04
192.168.0.20 hadoop-slave05.localdomain hadoop-slave05
