127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6

192.168.0.15 hadoop-master01 hadoop-master01.localdomain
192.168.0.16 hadoop-slave01 hadoop-slave01.localdomain
192.168.0.17 hadoop-slave02 hadoop-slave02.localdomain
192.168.0.18 hadoop-slave03 hadoop-slave03.localdomain
192.168.0.19 hadoop-slave04 hadoop-slave04.localdomain
192.168.0.20 hadoop-slave05 hadoop-slave05.localdomain
