[main]
include = {{ tuned_adm_recommend.stdout }}
{% for section in tuned_profile_parameter %}
{% set parameter_value = {'exist': False} %}
{%- for parameter in section.parameter %}
{%- if parameter.value %}
{%- if parameter_value.update({'exist': True}) %}{% endif %}
{%- endif %}
{%- endfor %}
{% if parameter_value.exist %}

[{{ section.section }}]
{% for parameter in section.parameter %}
{% if parameter.value %}
{{ parameter.option }} = {{ parameter.value }}
{% endif %}
{% endfor %}
{% endif %}
{% endfor %}
